@use 'sass:math';
@use 'reset';
@use 'cfg';
@use 'theme';

@mixin input-behavior() {
  &:hover {
    filter: brightness(1.1);
  }
  &:focus {
    outline: 1px dashed theme.$white;
  }
}

@mixin input($padding: cfg.sz(-1)) {
  @include reset.box($padding);
  @include reset.typo();
  @include reset.deco($border: solid 1px, $outline: solid 1px);
  @include reset.color($bg: theme.$white, $fg: theme.$black, $border: theme.$white, $outline: theme.$black);
  @include input-behavior();
}

@mixin button-behavior() {
  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
  }

  &:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  &:disabled {
    opacity: 0.5;
    filter: none;
    cursor: not-allowed;
  }
}

@mixin button() {
  @include reset.box($padding: cfg.sz(-1) cfg.sz(0));
  @include reset.typo();
  @include reset.deco($border: solid 1px, $outline: solid 1px);
  @include reset.color($bg: theme.$black, $fg: theme.$white, $border: theme.$white, $outline: theme.$black);
  @include button-behavior();
}

// range

@mixin range-base($height: cfg.sz(1)) {
  height: $height;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background: transparent;

  &:focus {
    outline: none;
  }
}

@mixin range-track(
  $height: (cfg.sz(1) * 0.6),
  $background: theme.$white,
  $border: none,
  $border-radius: 0,
  $shadow: none,
  $focus: true
) {
  $focus-outline: 1px solid theme.$white;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $height;
    cursor: pointer;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    box-shadow: $shadow;
  }

  &::-moz-range-track {
    width: 100%;
    height: $height;
    cursor: pointer;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    box-shadow: $shadow;
  }

  &::-ms-track {
    width: 100%;
    height: $height;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
  }

  &::-ms-fill-upper {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $shadow;
  }

  @if $focus {
    &:focus::-webkit-slider-runnable-track {
      outline: $focus-outline;
    }

    &:focus::-moz-range-track {
      outline: $focus-outline;
    }

    &:focus::-ms-fill-lower {
      outline: $focus-outline;
    }

    &:focus::-ms-fill-upper {
      outline: $focus-outline;
    }
  }
}

@mixin range-thumb(
  $width: (cfg.sz(1) * 0.5),
  $height: (cfg.sz(1)),
  $background: theme.$white,
  $border: 1px solid theme.$black,
  $border-radius: 0,
  $shadow: none,
  $track-height: (cfg.sz(1) * 0.6),
) {

  &::-webkit-slider-thumb {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: $track-height * 0.5 - $height * 0.5;
  }

  &::-moz-range-thumb {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    cursor: pointer;
  }
}

