@use 'cfg';
@use 'reset';
@use 'theme';
@use 'mq';

.app {
  @include reset.box();
  display: flex;
  flex-direction: column;
  gap: cfg.sz(2);
  max-width: 1200px;
  margin: 0 auto;
  padding: cfg.sz(1);

  @include mq.xs() {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header header"
      "select select"
      "edit preview"
      "ie ie";
    gap: cfg.sz(1);
  }


  @include mq.sm() {
    gap: cfg.sz(2);
    padding: cfg.sz(2);
  }

  @include mq.lg() {
    grid-template-columns: max-content auto max-content;
    grid-template-areas:
      "header header header"
      "select edit preview"
      "select ie ie";
  }

  .color-selector {
    grid-area: select;
  }

  .color-editor {
    grid-area: edit;
  }

  .theme-preview {
    grid-area: preview;
  }

  .import-export {
    grid-area: ie;
  }
}

.app__header {
  @include reset.box();
  grid-area: header;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.app__header svg {
  @include reset.box();
  display: block;
  width: 2rem;
  height: 2rem;
  fill: theme.$white;
}

.app__link {
  @include reset.box();
  display: block;
}

.app__title {
  @include reset.box();
  @include reset.typo($size: 2rem, $weight: normal);
}
