@use 'cfg';
@use 'reset';
@use 'theme';
@use 'mq';
@use 'ui';

@mixin range-thumb-a(
  $width: (cfg.sz(1) * 0.5),
  $height: (cfg.sz(1)),
  $color: theme.$white,
  $track-height: (cfg.sz(1) * 0.6)
) {
  $box-sizing: border-box;
  $border-top: ($height * 0.2) solid $color;
  $border-right: ($width * 0.5) solid transparent;
  $border-bottom: ($height * 0.2) solid $color;
  $border-left: ($width * 0.5) solid transparent;
  $w: 1px;

  @include ui.range-thumb(
    $width: 1px,
    $height: $height,
    $background: $color,
    $border: null,
    $track-height: (cfg.sz(1) * 0.6)
  );
  &::-webkit-slider-thumb {
    box-sizing: $box-sizing;
    padding-left: $w;
    background-clip: padding-box;
    border: {
      top: $border-top;
      right: $border-right;
      bottom: $border-bottom;
      left: $border-left;
    }
  }

  &::-moz-range-thumb {
    box-sizing: $box-sizing;
    padding-left: $w;
    background-clip: padding-box;
    border: {
      top: $border-top;
      right: $border-right;
      bottom: $border-bottom;
      left: $border-left;
    }
  }

  &::-ms-thumb {
    box-sizing: $box-sizing;
    padding-left: $w;
    background-clip: padding-box;
    border: {
      top: $border-top;
      right: $border-right;
      bottom: $border-bottom;
      left: $border-left;
    }
  }
}

.color-editor {
  @include reset.box();
  display: flex;
  flex-direction: column;
  gap: cfg.sz(0);
}

.color-editor__summary {
  @include reset.box();
}

.color-editor__tools {
  @include reset.box();
}

.color-summary {
  @include reset.box();
  display: grid;
  grid-template-areas: "box info" "box val";
  grid-template-columns: min-content auto;
  gap: cfg.sz(1);
}

.color-summary__box {
  @include reset.box();
  grid-area: box;
  width: cfg.sz(3);

  &::after {
    @include reset.box();
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.color-summary__info {
  @include reset.box();
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.color-summary__value {
  @include ui.input();
  grid-area: val;
  width: 10em;
}

.color-summary__text {
  @include reset.box();
  @include reset.typo();
  @include reset.color($fg: theme.$white);

  &--content_name {
    font-weight: bold;
  }
}

.color-tools {
  @include reset.box();
  @include reset.deco();
  display: flex;
  flex-direction: column;
  gap: cfg.sz(0);
}

.color-tools__item {
  @include reset.box();
  @include reset.typo();
  @include reset.color();
  display: flex;
  flex-direction: column;
}

.color-tools__control-wrapper {
  @include reset.box();
  position: relative;
  margin: 0 (-(cfg.sz(1) * 0.25));

  &:focus-within::before {
    outline: 1px dashed theme.$white;
  }

  &::before {
    @include reset.box();
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    top: cfg.sz(1) * 0.2;
    right: 0;
    bottom: cfg.sz(1) * 0.2;
    left: 0;
    margin: 0 (cfg.sz(1) * 0.25);
    background: var(--gradient);
  }
}

.color-tools__control {
  @include ui.range-base();
  @include ui.range-track($background: transparent, $focus: false);
  @include range-thumb-a();
  display: block;
}

