@use 'cfg';
@use 'reset';
@use 'mq';
@use 'ui';

.theme-preview {
  @include reset.box();
  display: flex;
  flex-direction: column;
  gap: cfg.sz(1);
}

.theme-preview__color-grid {
  @include reset.box($is-ul: true);

  &--type_basic {
    display: flex;
    flex-direction: column;
  }

  &--type_other {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
  }
}

.theme-preview__color-cell {
  @include reset.box($padding: cfg.sz(0));
  @include reset.typo();
}

.theme-preview__tools {
  @include reset.box();
  display: flex;
  justify-content: flex-end;
}

.theme-preview__button {
  @include ui.button();
}
